# Temp Files #
##############
*.swp
*.DS_Store

js/*.js

src/**/*.js
src/**/*.css
!src/cell.js
!src/cell-builder-plugin.js
!src/views/boilerplate.css

specs/**/*.js
spec-runner/*.js
spec-runner/**/*.js

node_modules/*
*.sublime*
