.Stats
  *zoom: 1;
  margin-top: 10px;
  color: #777777;

  > .todo-count
    float: left;

    > .number
      font-weight: bold;
      color: #333333;

  .todo-clear
    float: right;

    > a
      color: #777777;
      font-size: 12px;

    > a:visited
      color: #777777;

    > a:hover
      color: #336699;

  &:after
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;